<div *ngFor="let item of excursionListFromAPI">
    <div class="property-item rounded overflow-hidden">
      <div class="row">

      <div class="p-4 pb-0 position-relative col-3">
        <h5 class="text-primary mb-3">id:  {{item.id_excursion }}    </h5>
      </div>


      <div class="p-4 pb-0 position-relative col-3">
        <h5 class="text-primary mb-3">  Comienza:  {{item.start}} </h5> 
      </div>

      <div class="p-4 pb-0 position-relative col-3">
        <h5 class="text-primary mb-3">  termina:  {{item.end}} </h5>
      </div>

    </div>
    </div>
  </div> 