<div class="row">
    
    <div class="col-6">

        <div class="input-group mb-3">
            <input type="number" [(ngModel)]="id" class="form-control" placeholder="Ingrese el Id de la excursion a buscar"
                aria-label="Recipient's username" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-dark" (click)="hit=!hit;getExcursionTemp(id)" type="button">Buscar</button>
            </div>
        </div>

    </div>

    <div *ngIf="hit" class="col-6">
                
                <h5 class="text-primary mb-3">Título</h5>  
                <p>   {{excursionTemp.title}} </p>
                <hr>  
               
                <h5 class="text-primary mb-3">Descripción</h5>  
                <p>   {{excursionTemp.description}} </p>
                <hr>  

                <h5 class="text-primary mb-3">img</h5>  
                <p>   {{excursionTemp.img}} </p>
                <hr>  

                <h5 class="text-primary mb-3">Numero maximo Personas</h5>  
                <p>   {{excursionTemp.max_num_people_default}} </p>
                <hr>  

                <h5 class="text-primary mb-3">Precio</h5>  
                <p>   {{excursionTemp.price_default}} </p>
                <hr>  

                <h5 class="text-primary mb-3">Tipo</h5>  
                <p>   {{excursionTemp.type}} </p>
                <hr>  

                
           


       

    </div>
</div>