<div class="tab-content">
  <div id="tab-1" class="tab-pane fade show p-0 active">
    <div class="row g-4">

      <div class="col-lg-9 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="property-item rounded overflow-hidden">
          <div class="position-relative overflow-hidden">
            <a routerLink="/boreal" href=""><img class="img-fluid" [src]="excursionTemp.img" alt=""></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">


        <div class="p-4 pb-0 position-relative">
          <h5 class="text-primary mb-3">{{excursionTemp.title}} </h5>
          <hr>
          <h5 class="text-primary mb-3">Inicia:<h6>{{excursion.start}}</h6>  </h5>
          <h5 class="text-primary mb-3">Termina: <h6> {{excursion.end}} </h6></h5>
          <h5 class="text-primary mb-3">Precio:<h6>{{excursion.price}} EUR</h6> </h5>
          <button type="button" class="btn btn-primary mx-auto mt-3 mb-3 me-3 ">Reservar</button>
       </div>
       
        <p>{{excursionTemp.description}}</p>




        <form [formGroup]="myform" (ngSubmit)="addToCar(1,30)" >
          <div class="border">

            <div class="input-group mb-3">
              <label for="people">Número de personas</label>
              <div class="input-group-prepend">
                <button type="button" class="input-group-text" (click)="increase()">+</button>
              </div>
              <input formControlName="peopleInput" type="text" name="people" [(ngModel)]="people" class="form-control">
              <div class="input-group-append">
                <button type="button" class="input-group-text" (click)="decrease()">-</button>
              </div>
              <div *ngIf="myform.get('peopleInput')?.invalid && myform.get('peopleInput')?.touched">
                ingrese un número mayor o igual a 1
              </div>
            </div>


            <div>
              <ngbd-datepicker-popup ></ngbd-datepicker-popup>
            </div>

          </div>

          <button type="submit" class="btn btn-primary mx-auto mt-3 mb-3 me-3 ">Reservar</button>
          <button  class="btn btn-primary mx-auto mt-3 mb-3 ms-3 " (click)="goToCart()">Ir al carrito</button>
        </form>












      </div>

    </div>
  </div>
</div>
