<div class="row">
    <div class="col-6">

        <form [formGroup]="addForm" (ngSubmit)="addExcursion()">



           

            <div class="input-group mb-3">
                <input type="text" formControlName="excursions_template_id" class="form-control"
                    placeholder="Ingrese el id de template a asignar a la excursion" />
                <div class="warning"
                    *ngIf="addForm.get('excursions_template_id')?.invalid && addForm.get('excursions_template_id')?.touched">
                    Ingrese el id de template de excursion</div>
            </div>

            <div class="input-group mb-3">
           
                     <select formControlName="user_id" class="form-select" id="inputGroupSelect04">
                        <option value="" disabled selected hidden>Choose the user</option>
                        <option [value]="id_user" selected>{{logInUser}} </option>
                     </select>
            </div>


            <div class="input-group mb-3">
                <input type="text" formControlName="num_max_people" class="form-control"
                    placeholder="Ingrese el número máximo de personas" />
                <div class="warning"
                    *ngIf="addForm.get('num_max_people')?.invalid && addForm.get('num_max_people')?.touched">
                    Ingrese el número máximo de personas max(30)"</div>
            </div>


            <div class="input-group mb-3">
                <input type="text" formControlName="price" class="form-control" placeholder="Ingrese el nuevo precio" />
                <div class="warning" *ngIf="addForm.get('price')?.invalid && addForm.get('price')?.touched">
                    Formato con 2 decimales (ejem: 123.00) .Número máximo 9999.99</div>
            </div>



            <div class="row">
                <div class="col-9">
                    <div class="input-group mb-3">
                        <input class="form-control" placeholder=" Ingrese el dia en que comienza la excursion : yyyy-mm-dd"
                            name="dateStart" formControlName="dateStart" ngbDatepicker #dateStart="ngbDatepicker">
                        <div class="input-group-append">
                            <button display="inline" class="btn btn-outline-secondary calendar" (click)="dateStart.toggle()"
                                type="button"><i class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <ngb-timepicker formControlName="timeStart"></ngb-timepicker>
                </div>
                <div class="warning"
                    *ngIf="(addForm.get('dateStart')?.invalid||addForm.get('timeStart')?.invalid) && (addForm.get('dateStart')?.touched||addForm.get('timeStart')?.touched)">
                    Start excursion Date and Time  (0-24 hs)</div>
            </div>

            <hr>

            <div class="row">
                <div class="col-9">
                    <div class="input-group mb-3">
                        <input class="form-control" placeholder="Ingrese el dia en que finaliza la excursion yyyy-mm-dd "
                            name="dateEnd" formControlName="dateEnd" ngbDatepicker #dateEnd="ngbDatepicker">
                        <div class="input-group-append">
                            <button display="inline" class="btn btn-outline-secondary calendar" (click)="dateEnd.toggle()"
                                type="button"><i class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <ngb-timepicker formControlName="timeEnd"></ngb-timepicker>
                </div>
                <div class="warning"
                    *ngIf="(addForm.get('dateEnd')?.invalid||addForm.get('timeEnd')?.invalid) && (addForm.get('dateEnd')?.touched||addForm.get('timeEnd')?.touched)">
                    End excursion Date and Time (0-24 hs) </div>
            </div>








            <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Añadir Excursion</button>
            </div>

        </form>

    </div>
</div>