<div class="container">
    <h3>Editar Excursiones</h3>
    <div class="d-flex justify-content-between">
        <a  class="btn btn-dark mb-3" routerLink="showExcursion" routerLinkActive="activebutton">Buscar Excursion</a>
        <a class="btn btn-dark mb-3"routerLink="modifyExcursion" routerLinkActive="activebutton">Modificar Excursion</a>
        <a  class="btn btn-dark mb-3" routerLink="addExcursion" routerLinkActive="activebutton">Añadir Excursion</a>
        <a  class="btn btn-dark mb-3" routerLink="deleteExcursion" routerLinkActive="activebutton">Eliminar Excursion</a>
        <a  class="btn btn-dark mb-3" routerLink="showListExcursion" routerLinkActive="activebutton">Ver lista de excursiones</a>
    </div>

    <router-outlet></router-outlet>            
   
          

</div>
