
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Change Password</h2>
            <form [formGroup]="changePassForm" (ngSubmit)="changePass()">
              
                <div class="mb-3">
                    <label for="InputEmail1" class="form-label">Email address</label>
                    <input formControlName="user_email"  class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                    <div class="warning" *ngIf="changePassForm.get('user_email')?.invalid && changePassForm.get('user_email')?.touched">Incorrect Email format</div>
                </div>
                <div class="mb-3">
                    <label for="old_password" class="form-label">Enter the actual Password</label>
                    <input formControlName="old_password" class="form-control" id="old_password">
                    <div class="warning" *ngIf="changePassForm.get('old_password')?.invalid && changePassForm.get('old_email')?.touched">Debe contener 5 caracteres min</div>
                </div>
                <div class="mb-3">
                    <label for="user_password" class="form-label">Enter the new Password</label>
                    <input formControlName="user_password" class="form-control" id="user_password">
                    <div class="warning" *ngIf="changePassForm.get('user_password')?.invalid && changePassForm.get('user_password')?.touched">Make sure it's at least 8 characters</div>
                </div>
                <div class="mb-3">
                    <label for="repetedPassword" class="form-label">Confirm the new Password</label>
                    <input formControlName="repetedPassword" class="form-control" id="repetedPassword">
                    <div class="warning" *ngIf="changePassForm.get('repetedPassword')?.value!=changePassForm.get('user_password')?.value && changePassForm.get('repetedPassword')?.touched">passwords Does not Match</div>
                  </div>
               
                <button type="submit" class="btn btn-dark mb-3">Change password</button>
              </form>
            

        </div>
        <div class="col-4">
            
        </div>
    </div>
</div>
