<div class="row">

    <div class="col-6">
        <form [formGroup]="idForm" (ngSubmit)="showExcursionTemp()">
        <div class="input-group mb-3">
            <input type="number" formControlName="id" class="form-control" placeholder="Ingrese el Id de la excursion a buscar"/>
            <div class="warning" *ngIf="idForm.get('id')?.invalid && idForm.get('id')?.touched" >only int numbers (max 999)</div>
            <div class="input-group-append">
                <button class="btn btn-dark"  type="button">Buscar</button>
            </div>
        </div>
        </form>

    </div>

    <div *ngIf="excursionTempFromApi.status!=0" class="col-6">
        <div *ngIf="excursionTempFromApi.status===500">
            <hr>
            <h3 class="text-primary mb-3">{{excursionTempFromApi.messages}}</h3>
            <hr>
        </div>

        <div *ngIf="excursionTempFromApi.status===200">

            <h5 class="text-primary mb-3">Título</h5>
            <p> {{excursionTempFromApi.data.title}} </p>
            <hr>

            <h5 class="text-primary mb-3">Descripción</h5>
            <p> {{excursionTempFromApi.data.description}} </p>
            <hr>

            <h5 class="text-primary mb-3">img</h5>
            <p> {{excursionTempFromApi.data.img}} </p>
            <hr>

            <h5 class="text-primary mb-3">Numero maximo Personas</h5>
            <p> {{excursionTempFromApi.data.max_num_people_default}} </p>
            <hr>

            <h5 class="text-primary mb-3">Precio</h5>
            <p> {{excursionTempFromApi.data.price_default}} </p>
            <hr>

            <h5 class="text-primary mb-3">Tipo</h5>
            <p> {{excursionTempFromApi.data.type}} </p>
            <hr>
        </div>







    </div>
</div>