<div class="container">
    <h3>User Edit</h3>
    <div class="d-flex justify-content-between">
        <a  class="btn btn-dark mb-3" routerLink="showUser" routerLinkActive="activebutton">Find User</a>
        <a class="btn btn-dark mb-3"routerLink="passwordUser" routerLinkActive="activebutton">Change user password</a>
        <a  class="btn btn-dark mb-3" routerLink="emailUser" routerLinkActive="activebutton">Change user Email</a>
        <a  class="btn btn-dark mb-3" routerLink="rolUser" routerLinkActive="activebutton">Set user Rol</a>
        <a  class="btn btn-dark mb-3" routerLink="listUser" routerLinkActive="activebutton">Show user List</a>
    </div>

    <router-outlet></router-outlet>
            
   
          

</div>