<img src="assets/img/privacy.webp" class="video"alt="">
<div class="container  position-relative">
    <div class="row block">
        <h1 class="text-white my-auto">Politica de Privacidad</h1>
    </div>
    
    <div class="row">
        <h1 >Reykjavik Excursions valora su privacidad y estamos comprometidos a proteger y salvaguardar cualquier información personal que nos proporcione</h1>
<p>Reykjavík Excursions será lo que se denomina como el "Controlador" de los datos personales que nos proporcione. Para poder brindarle nuestros servicios de la mejor manera, necesitaremos recopilar algunos datos personales básicos sobre usted. Los datos se recopilan principalmente sobre la base de nuestros intereses legítimos de conformidad con el artículo 6 (1) (f) del Reglamento general de protección de datos (UE) 2016/679.

    Cuando sea necesario, solicitaremos su consentimiento por separado antes de obtener sus datos.
    
    Valoramos su privacidad y estamos comprometidos a proteger y salvaguardar cualquier información personal que nos proporcione. Esta es nuestra promesa para usted:
    
        Nos comprometemos a recopilar, utilizar y almacenar sus datos personales de forma segura.
        Prometemos recopilar solo los datos que necesitamos para brindarle nuestros servicios.
        Nos comprometemos a utilizar sus datos personales únicamente para los fines específicos indicados.
        Nos comprometemos a mantenerlo informado sobre cómo usamos su información y a quién se la damos.</p>
    </div>
    <div class="row m-5"></div>
    <div class="row m-5 ">
    <div class="col-6">
        <h3> ¿Qué necesitamos?</h3>
        <p>
            Cuando reserva un recorrido con nosotros, le solicitamos su nombre, dirección de correo electrónico e información de la tarjeta de crédito. También le damos la opción de proporcionar su hotel/casa de huéspedes en Islandia en caso de que elija hacer uso de nuestro servicio de recogida y devolución. También se le dará la opción de suscribirse a nuestro boletín. No recopilamos ningún dato que incluya tipos especiales de información, información basada en la ubicación o datos confidenciales.</p>
    </div>
    <div class="col-6">
        <h3>¿Por qué necesitamos tus datos?</h3>
        <p>
            Necesitamos conocer sus datos personales básicos para poder prestarle nuestros servicios. Para poder brindarle esos servicios de la mejor manera, es posible que necesitemos enviarle correos electrónicos que contengan información sobre su lugar u hora de recogida, advertencias meteorológicas, etc. No recopilaremos ningún dato personal suyo que no necesitemos para brindarle usted con esos servicios. </p>
    </div>
    </div>
</div>


