<img src="assets/img/cookies.webp" class="video" alt="" />

<div class="container position-relative">
  <div class="row">
    <h1 style="color: rgb(223, 119, 54)">Cookies</h1>
    <p></p>
  </div>
  <div class="row">
    <div class="col-6">
      <h3 style="color:  rgb(223, 119, 54)" >Lo primero es lo primero: ¿Qué son las cookies?</h3>
      <p class="text-white">
        Las cookies son pequeños archivos de texto que los sitios web que visita
        o ciertos correos electrónicos que abre colocan en su computadora. Se
        utilizan ampliamente para hacer que los sitios web funcionen como fueron
        diseñados, así como para proporcionar información comercial y de
        marketing a los propietarios del sitio. En ningún caso estas cookies
        infringirán su privacidad.
      </p>
    </div>
    <div class="col-6">
      <h3 style="color: rgb(223, 119, 54);" >¿Quieres saber más sobre las Cookies?</h3>
      <p class="text-white">
        Para leer más sobre las cookies HTTP, visite:
        http://www.aboutcookies.org/ El uso de estas cookies es opcional; puede
        configurar su navegador para que no acepte, o solo ocasionalmente,
        cookies. No obstante, para un uso óptimo de RE.is, le recomendamos que
        acepte las cookies de nuestro sitio web. Ciertas funciones pueden
        requerir el uso de cookies para funcionar correctamente.
      </p>
    </div>
  </div>
</div>
