
<!-- Circle header Start -->


<div class="container-xxl py-5">
    <div class="container">
      <div class="row g-0 gx-5 align-items-end">
        <div class="col-lg-6">
          <div class="text-start mx-auto mb-5 wow fadeInUp position-relative" data-wow-delay="0.1s" >
            <h1 style="z-index:-3" class="mb-3 ">Tours Al Circulo Dorado</h1>
            <p>El Círculo Dorado es, con mucho, la atracción más famosa de Islandia. A poca distancia en auto de la ciudad capital, verá las vistas más impresionantes del Parque Nacional Thingvellir, el área geotérmica de Geysir y la cascada de Gullfoss, ¡todo en un día!</p>
          </div>
        </div>
      </div>
  
    
  <!-- Circle List End -->

  <app-excursions [data]="typeExcursion"></app-excursions>


  
  