
<!-- Circle List Start -->
<img src="/src/assets/img/circle_1webp.webp" class="video">
<div class="container-xxl py-5">
    <div class="container">
      <div class="row g-0 gx-5 align-items-end">
        <div class="col-lg-6">
          <div class="text-start mx-auto mb-5 wow fadeInUp position-relative" data-wow-delay="0.1s" >
            <h1 style="z-index:-3" class="mb-3 ">Tours Al Circulo Dorado</h1>
            <p>El Círculo Dorado es, con mucho, la atracción más famosa de Islandia. A poca distancia en auto de la ciudad capital, verá las vistas más impresionantes del Parque Nacional Thingvellir, el área geotérmica de Geysir y la cascada de Gullfoss, ¡todo en un día!</p>
          </div>
        </div>
      </div>
  
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <a href=""><img class="img-fluid" src="assets/img/circle_1webp.webp" alt=""></a>
                </div>
                <div class="p-4 pb-0 position-relative">
                  <h5 class="text-primary mb-3">Circulo Dorado en Directo</h5>
                  <a class="d-block h5 mb-2" href="">64 EUR</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <a href=""><img class="img-fluid" src="assets/img/circle_2.webp" alt=""></a>
                </div>
                <div class="p-4 pb-0 position-relative">
                  <h5 class="text-primary mb-3 ">Circulo Dorado y Friorheimer </h5>
                  <a class="d-block h5 mb-2" href="">69 EUR</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <a href=""><img class="img-fluid" src="assets/img/circle_3.webp" alt=""></a>
                </div>
                <div class="p-4 pb-0 position-relative">
                  <h5 class="text-primary mb-3 ">Círculo Dorado y SnowBorad</h5>
                  <a class="d-block h5 mb-2" href="">209 EUR</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <a href=""><img class="img-fluid" src="assets/img/circle_4.webp" alt=""></a>
                </div>
                <div class="p-4 pb-0 position-relative">
                  <h5 class="text-primary mb-3">Círculo dorado y Aurora Boreal</h5>
                  <a class="d-block h5 mb-2" href="">113 EUR</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <a href=""><img class="img-fluid" src="assets/img/circle_5.webp" alt=""></a>
                </div>
                <div class="p-4 pb-0 position-relative">
                  <h5 class="text-primary mb-3 ">Círculo Dorado y Fuente natural</h5>
                  <a class="d-block h5 mb-2" href="">99 EUR</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="property-item rounded overflow-hidden">
                  <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/img/circle_6.webp" alt=""></a>
                  </div>
                  <div class="p-4 pb-0 position-relative">
                    <h5 class="text-primary mb-3 ">Círculo Dorado y tunel de lava</h5>
                    <a class="d-block h5 mb-2" href="">139 EUR</a>
                  </div>
                </div>
              </div>        
      </div>
  
  
    </div>
  </div>
  <!-- Circle List End -->
  