<div class="container">
    <h3>Edit Templates</h3>
    <div class="d-flex justify-content-center">
        <!-- <a  class="btn btn-dark mb-3" routerLink="showTemp" routerLinkActive="activebutton">Search Template</a>
        <a class="btn btn-dark mb-3"routerLink="modify" routerLinkActive="activebutton">Modify Template</a> -->
        <a  class="btn btn-dark m-3" routerLink="addTemplate" routerLinkActive="activebutton">Add Template</a>
        <!-- <a  class="btn btn-dark mb-3" routerLink="deleteTemp" routerLinkActive="activebutton">Delete Template</a> -->
        <a  class="btn btn-dark m-3" routerLink="showTempList" routerLinkActive="activebutton">Show Template List</a>
    </div>

    <router-outlet></router-outlet>            
   
          

</div>