<div class="container">
    <h3>Editar Templates</h3>
    <div class="d-flex justify-content-between">
        <a  class="btn btn-dark mb-3" routerLink="showTemp" routerLinkActive="activebutton">Buscar Template</a>
        <a class="btn btn-dark mb-3"routerLink="modify" routerLinkActive="activebutton">Modificar Template</a>
        <a  class="btn btn-dark mb-3" routerLink="addTemplate" routerLinkActive="activebutton">Añadir Template</a>
        <a  class="btn btn-dark mb-3" routerLink="deleteTemp" routerLinkActive="activebutton">Eliminar Template</a>
        <a  class="btn btn-dark mb-3" routerLink="showTempList" routerLinkActive="activebutton">Ver lista Template</a>
    </div>

    <router-outlet></router-outlet>            
   
          

</div>