<div *ngFor="let item of excursionListTempFromAPI">
    <div class="property-item rounded overflow-hidden">
      <div class="row">

      <div class="p-4 pb-0 position-relative col-4">
        <h6 class="text-primary mb-3">id:  {{item.id_excursion_template }}    </h6>
       
      </div>


      <div class="p-4 pb-0 position-relative col-4">
        <h6 class="text-primary mb-3">  title:  {{item.title}} </h6>
      </div>


      <div class="col-1">
        <button routerLink="/edition/modify/{{item.id_excursion_template}}" class="btn btn-dark m-1"><i class="fas fa-edit"></i></button>
    </div>

    <div class="col-1">
       <button routerLink="/edition/showTemp/{{item.id_excursion_template}}" class="btn btn-dark m-1"><i class="fas fa-eye"></i></button>
    </div>

    <div class="col-1">
      <button  (click)="open(content)" class="btn btn-dark m-1"><i class="fas fa-trash"></i></button>
   </div>

    </div>
    </div>
  </div> 