<!-- Lake List Start -->
<div class="container-xxl py-5">
    <div class="container">
      <div class="row g-0 gx-5 align-items-end">
        <div class="col-lg-6">
          <div class="text-start mx-auto mb-5 wow fadeInUp position-relative" data-wow-delay="0.1s" >
            <h1 style="z-index:-3" class="mb-3 ">Tours al Lago Azul</h1>
            <p>La Laguna Azul es un spa natural geotérmico de color azul lechoso que se encuentra justo entre el aeropuerto de Keflavík y la ciudad de Reykjavík, lo que lo convierte en un lugar perfecto para visitar en cualquier aventura en Islandia, incluso si es solo para una breve escala.             
            </p>
          </div>
        </div>
      </div>
  
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <a href=""><img class="img-fluid" src="assets/img/lake_1.webp" alt=""></a>
                </div>
                <div class="p-4 pb-0 position-relative">
                  <h5 class="text-primary mb-3">Laguna Azul : Translados y admision</h5>
                  <a class="d-block h5 mb-2" href="">129 EUR</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <a href=""><img class="img-fluid" src="assets/img/lake_2_webp.webp" alt=""></a>
                </div>
                <div class="p-4 pb-0 position-relative">
                  <h5 class="text-primary mb-3 ">Lago Azul- Translados y Admision Premium</h5>
                  <a class="d-block h5 mb-2" href="">149 EUR</a>
                </div>
              </div>
            </div>
    
      </div>
  
  
    </div>
  </div>
  <!-- Lake List End -->
  