<!-- Lake header Start -->
<div class="container-xxl py-5">
    <div class="container">
      <div class="row g-0 gx-5 align-items-end">
        <div class="col-lg-6">
          <div class="text-start mx-auto mb-5 wow fadeInUp position-relative" data-wow-delay="0.1s" >
            <h1 style="z-index:-3" class="mb-3 ">Tours al Lago Azul</h1>
            <p>La Laguna Azul es un spa natural geotérmico de color azul lechoso que se encuentra justo entre el aeropuerto de Keflavík y la ciudad de Reykjavík, lo que lo convierte en un lugar perfecto para visitar en cualquier aventura en Islandia, incluso si es solo para una breve escala.             
            </p>
          </div>
        </div>
      </div>
  <!-- Lake header End -->

  <app-excursions typeExcursion="lake"></app-excursions>