<img src="assets/img/airport.webp" class="video">
<!-- Header Start -->
 <div class="container-fluid header bg-white p-0">
   <div class="row g-4 align-items-center flex-column-reverse flex-md-row">
     <div class="col-md-3 p-5 mt-lg-5 position-relative">
       <h1 class="display-5 animated fadeIn mb-4 mt-4 ">Traslados <span class="text-primary position-relative overflow-hidden">desde 25 €</span></h1>
       <hr>
       <p class="animated fadeIn mb-4 pb-2 bg-transparent position-absolute">Desde el hotel al aeopurto o la estación terminal de autobuses</p>
      
     </div>
   </div>
 </div>
 <!-- Header End -->

 

 <!-- Search Start -->
 <div class="container-fluid bg-transparent mb-5 wow fadeIn position-relative" data-wow-delay="0.1s"
   style="padding: 35px;">
   <div class="container">
     <div class="row g-2">
       <div class="col-md-10">
         <div class="row g-2">
           <div class="col-md-4">
             <select class="form-select border-0 py-3">
               <option selected>Desde</option>
               <option value="1">Aeropuerto Reykjavic (RVK)</option>
               <option value="2">Terminal de autobuses - BSÌ</option>
               <option value="3">Aeropuerto Keflavik</option>
               <option value="3">Ir a Parada 5: Harpa</option>
               <option value="3">Ir a Parada 6: The Culture House</option>
               <option value="3">Ir a Parada 10 :Hlemmur</option>
               <option value="3">Ir a Parada 11: Austurbær</option>   
               <option value="3">Ir a Parada 12: Höfðatorg</option>
               <option value="3">Ir a Parada 13: Rauðarárstígur</option>        
               <option value="3">Ir a Parada 14: Skúlagata</option>
             </select>
           </div>
           <div class="col-md-4">
             <select class="form-select border-0 py-3">
                <option selected>Hasta</option>
                <option value="1">Aeropuerto Reykjavic (RVK)</option>
                <option value="2">Terminal de bus - BSÌ</option>
                <option value="3">Aeropuerto Keflavik</option>
                <option value="3">Ir a Parada 5: Harpa</option>
                <option value="3">Ir a Parada 6: The Culture House</option>
                <option value="3">Ir a Parada 10 :Hlemmur</option>
                <option value="3">Ir a Parada 11: Austurbær</option>   
                <option value="3">Ir a Parada 12: Höfðatorg</option>
                <option value="3">Ir a Parada 13: Rauðarárstígur</option>        
                <option value="3">Ir a Parada 14: Skúlagata</option>
             </select>
           </div>
         </div>
       </div>
       <div class="col-md-2">
         <button class="btn btn-dark border-0 w-100 py-3">Buscar</button>
       </div>
     </div>
   </div>
 </div>
 <!-- Search End -->
