<div class="row">

    <div class="col-6">
        <form [formGroup]="idForm" (ngSubmit)="showExcursion()">
        <div class="input-group mb-3">
            <input type="number" formControlName="id" class="form-control" placeholder="Enter the Id of the Excursion to show"/>
            <div class="warning" *ngIf="idForm.get('id')?.invalid && idForm.get('id')?.touched" >only int numbers (max 999)</div>
            <div class="input-group-append">
                <button class="btn btn-dark"  type="submit">Search</button>
            </div>
        </div>
        </form>

    </div>

    <div *ngIf="excursionFromApi.status!=0" class="col-6">
        <div *ngIf="excursionFromApi.status===500">
            <hr>
            <h3 class="text-primary mb-3">{{excursionFromApi.messages}}</h3>
            <hr>
        </div>

        <div *ngIf="excursionFromApi.status===200">

            <h5 class="text-primary mb-3">Excursion template Id</h5>
            <p> {{excursionFromApi.data.excursions_template_id}} </p>
            <hr>

            <h5 class="text-primary mb-3">Created by:</h5>
            <p> id user: {{excursionFromApi.data.user_id}} </p>
            <hr>

            <h5 class="text-primary mb-3">max number of people</h5>
            <p> {{excursionFromApi.data.num_max_people}} </p>
            <hr>

            <h5 class="text-primary mb-3">Price</h5>
            <p> {{excursionFromApi.data.price}} </p>
            <hr>

            <h5 class="text-primary mb-3">Excursion Start date</h5>
            <p> {{excursionFromApi.data.start}} </p>
            <hr>

            <h5 class="text-primary mb-3">Excursion End date</h5>
            <p> {{excursionFromApi.data.end}} </p>
            <hr>
        </div>







    </div>
</div>