<div class="row">

    <div class="col-6">

        <div class="input-group mb-3">
            <input type="number" [(ngModel)]="id" class="form-control"
                placeholder="Ingrese el Id de la excursion a buscar"/>
            <div class="input-group-append">
                <button class="btn btn-dark" (click)="showExcursion(id)" type="button">Buscar</button>
            </div>
        </div>

    </div>

    <div *ngIf="excursionFromApi.status!=0" class="col-6">
        <div *ngIf="excursionFromApi.status===500">
            <hr>
            <h3 class="text-primary mb-3">{{excursionFromApi.messages}}</h3>
            <hr>
        </div>

        <div *ngIf="excursionFromApi.status===200">

            <h5 class="text-primary mb-3">Id del template de la excursion</h5>
            <p> {{excursionFromApi.data.excursions_template_id}} </p>
            <hr>

            <h5 class="text-primary mb-3">Creado por el número de usuario:</h5>
            <p> {{excursionFromApi.data.user_id}} </p>
            <hr>

            <h5 class="text-primary mb-3">numero maximo de personas</h5>
            <p> {{excursionFromApi.data.num_max_people}} </p>
            <hr>

            <h5 class="text-primary mb-3">Precio</h5>
            <p> {{excursionFromApi.data.price}} </p>
            <hr>

            <h5 class="text-primary mb-3">Incio de la excursion</h5>
            <p> {{excursionFromApi.data.start}} </p>
            <hr>

            <h5 class="text-primary mb-3">Fin de la excursion</h5>
            <p> {{excursionFromApi.data.end}} </p>
            <hr>
        </div>







    </div>
</div>