
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="/assets/img/logo.jpg" alt="" class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/assets/img/menu.png" alt="" height ="40" width="40">
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0 fs-4 ">
        <li class="nav-item m-3">
          <a class="nav-link" aria-current="page" href="#">Excursiones</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link" href="#">Traslados</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link" href="#">Circuitos en buses</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<app-home></app-home>

