<div class="tab-content">
    <div id="tab-1" class="tab-pane fade show p-0 active">
      <div class="row g-4">
  
        <div class="col-lg-9 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="property-item rounded overflow-hidden">
            <div class="position-relative overflow-hidden">
              <a routerLink="/boreal" href=""><img class="img-fluid" [src]="excursionTemp.img" alt=""></a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
  
  
          <div class="p-4 pb-0 position-relative">
            <h5 class="text-primary mb-3">{{excursionTemp.title}} </h5>
            <hr>
            
            <button type="button" class="btn btn-primary mx-auto mt-3 mb-3 me-3 ">Reservar</button>
         </div>
         
          <p>{{excursionTemp.description}}</p>
  
  
  
  
         
  
  
  
  
  
  
  
  
  
        </div>
  
      </div>
    </div>
  </div>
  