<img src="assets/img/bus.webp" class="video">

<!-- Header End -->



<!-- Bus List Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-0 gx-5 align-items-end">
      <div class="col-lg-6">
        <div class="text-start mx-auto mb-5 wow fadeInUp position-relative" data-wow-delay="0.1s">
          <h1 style="z-index:-3" class="mb-3 " style="color:white">Circuitos de senderismo</h1>
          <h1 class="display-5 animated fadeIn mb-4 mt-4 ">Arriba en bus <span
              class="text-primary position-relative overflow-hidden" style="color:white">recorrela a pie</span>
            la forma perfectade conectar con el entorno
          </h1>
          <p style="color:white">En una tierra llena de maravillas geológicas, una naturaleza virgen y vastos espacios
            abiertos, tiene sentido que el senderismo sea una actividad favorita entre los lugareños. Algunas de las
            rutas de senderismo más populares de Islandia se encuentran en el sur de Islandia, en el área de Þórsmörk y
            sus alrededores. Estos senderos (por ejemplo, Fimmvörðuháls y Laugavegur) son muy recomendables por su
            extraordinaria belleza, gloriosas vistas y diversidad de paisajes.</p>
        </div>
      </div>
    </div>

    <div class="tab-content">
      <div id="tab-1" class="tab-pane fade show p-0 active">
        <div class="row g-4">

          <div *ngFor="let item of busExcursionsList" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="property-item rounded overflow-hidden">
              <div class="position-relative overflow-hidden">
                <a href=""><img class="img-fluid" [src]="item.img" alt=""></a>
              </div>
              <div class="p-4 pb-0 position-relative">
                <h5 class="text-primary mb-3">{{item.title}} </h5>
                <a class="d-block h5 mb-2" href="">{{item.price}} EUR</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
    <!-- Bus List End -->
