<!-- Boreal header Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-0 gx-5 align-items-end">
      <div class="col-lg-6">
        <div class="text-start mx-auto mb-5 wow fadeInUp position-relative" data-wow-delay="0.1s" >
          <h1 style="z-index:-3" class="mb-3 ">Aurora Boreal Tours</h1>
          <p>Pocas vistas son tan impresionantes como ver la aurora boreal bailando en el oscuro cielo invernal de Islandia. Encuentra tu propia experiencia inolvidable eligiendo el tour que mejor se adapte a ti de nuestra variedad de tours de auroras boreales en Islandia.</p>
        </div>
      </div>
    </div> 
    
<!-- Boreal header End  -->

<app-excursion-list-temp typeExcursion="boreal"></app-excursion-list-temp>
