
<!-- Reservetion header Start -->
<div class="container-xxl py-5">
    <div class="container">
      <div class="row g-0 gx-5 align-items-end">
        <div class="col-lg-6">
          <div class="text-start mx-auto mb-5 wow fadeInUp position-relative" data-wow-delay="0.1s" >
            <h1 style="z-index:-3" class="mb-3 ">Resumen de la Reserva</h1>
            <p>Estas son las excursiones reservadas</p>
          </div>
        </div>
      </div> 
      
  <!-- Reservation header End -->
    <!-- <app-excursions typeExcursion="boreal"></app-excursions> -->

  <div class="tab-content">
    <div id="tab-1" class="tab-pane fade show p-0 active">
      <div class="row g-4">
           
          <div *ngFor="let item of userRepositoryCart; let i = index"   [hidden]="item.userName!=logInUser" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="property-item rounded overflow-hidden">
              <div class="position-relative overflow-hidden">
               <img class="img-fluid" [src]="excursionList[item.idExcursion-1].img" alt="">
              </div>
              <div class="p-4 pb-0 position-relative">
                <h3 class="text-primary mb-3">{{excursionList[item.idExcursion-1].title}} </h3>
                 
                <h5>Fecha:{{item.date?.day}}/{{item.date?.month}}/{{item.date?.year}}</h5>
                <h5>{{item.numPeople}} personas</h5>
                <h3>Total {{item.totalPrice}} EUR</h3>
                <button (click)="removeExcursion(i)" type="button" class="btn btn-primary mx-auto mt-3 mb-3 me-3 ">Quitar</button>
              
              </div>
            </div>
          </div> 
  
  
      </div>
    </div>
  </div>
  
  
