<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese el Id de la excursion"
        aria-label="Recipient's username" aria-describedby="basic-addon2" />
    
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese el nuevo titulo"
        aria-label="Recipient's username" aria-describedby="basic-addon2" />
    <div class="input-group-append">
        <button class="btn btn-dark" type="button">Modificar</button>
    </div>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese la ruta de la imagen"
        aria-label="Recipient's username" aria-describedby="basic-addon2" />
    <div class="input-group-append">
        <button class="btn btn-dark" type="button">Modificar</button>
    </div>
</div>

<div class="input-group mb-3">
    <select class="form-select" id="inputGroupSelect04">
        <option selected>Choose...</option>
        <option value="boreal">boreal</option>
        <option value="lake">lake</option>
        <option value="circle">circle</option>
        <option value="bus">bus</option>
    </select>
    <div class="input-group-append">
        <button class="btn btn-dark" type="button">modificar</button>
    </div>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese la nueva descripción"
        aria-label="Recipient's username" aria-describedby="basic-addon2" />
    <div class="input-group-append">
        <button class="btn btn-dark" type="button">modificar</button>
    </div>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese el nuevo precio"
        aria-label="Recipient's username" aria-describedby="basic-addon2" />
    <div class="input-group-append">
        <button class="btn btn-dark" type="button">modificar</button>
    </div>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese el nuevo num maximo de personas"
        aria-label="Recipient's username" aria-describedby="basic-addon2" />
    <div class="input-group-append">
        <button class="btn btn-dark" type="button">modificar</button>
    </div>
</div>

