<div class="raw">
    <div class="col-6">

        <form [formGroup]="modifyTempForm" (ngSubmit)="modifyExcursionTemp()">

            

        <div class="input-group mb-3">
            <input  formControlName="id_excursion_template" class="form-control" placeholder="Ingrese el Id de la excursion"/>
            <div class="warning" *ngIf="modifyTempForm.get('id_excursion_template')?.invalid && modifyTempForm.get('id_excursion_template')?.touched" >Ingrese solo números</div>
        </div>

        <div class="input-group mb-3">
            <input type="text" formControlName="title" class="form-control" placeholder="Ingrese el nuevo titulo"/>
            <div class="warning" *ngIf="modifyTempForm.get('title')?.invalid && modifyTempForm.get('title')?.touched">Ingrese el título max 30 caracteres</div>
            
        </div>

        <div class="input-group mb-3">
            <input type="text" formControlName="img" class="form-control" placeholder="Ingrese la ruta de la imagen"/>
            <div class="warning" *ngIf="modifyTempForm.get('path')?.invalid && modifyTempForm.get('path')?.touched">Ingrese la ruta de la imagen como "assets/img/nombreImagen.webp"</div>
            
        </div>

        <div class="input-group mb-3">
            <select formControlName="type" class="form-select" id="inputGroupSelect04">
                <option value="" disabled selected hidden>Elija un tipo de excusión</option>
                <option value="boreal">boreal</option>
                <option value="lake">lake</option>
                <option value="circle">circle</option>
                <option value="bus">bus</option>
            </select>
        </div>
         
       
        <div class="input-group mb-3">
            <input type="text" formControlName="description" class="form-control" placeholder="Ingrese la nueva descripción"/>
            <div class="warning" *ngIf="modifyTempForm.get('description')?.invalid && modifyTempForm.get('description')?.touched">Ingrese la descripcion de la excursion. Max 1000 caracteres"</div>
        </div>
 
      
        <div class="input-group mb-3">
            <input type="text" formControlName="price_default" class="form-control" placeholder="Ingrese el nuevo precio"/>
            <div class="warning" *ngIf="modifyTempForm.get('price_default')?.invalid && modifyTempForm.get('price_default')?.touched">Formato con 2 decimales (ejem: 123.00) .Número máximo 9999.99</div>
        </div>

        <div class="input-group mb-3">
            <input type="text" formControlName="max_num_people_default" class="form-control" placeholder="Ingrese el nuevo num maximo de personas"/>
             <div class="warning" *ngIf="modifyTempForm.get('max_num_people_default')?.invalid && modifyTempForm.get('max_num_people_default')?.touched">Ingrese el número máximo de personas"</div>
        </div> 

        <div class="input-group-append">
            <button class="btn btn-dark" type="submit">modificar</button>
        </div>

        </form>

    </div>
</div>