<img src="assets/img/about.webp" class="video"alt="">

<div class="container  position-relative">
    
    <div class="row">
        <h1  style="color:rgb(12, 11, 11)">Reykjavik Excursions opera una de las flotas de autocares más grandes y nuevas de Islandia.</h1>
<p>Reykjavik es un enlace al operador turístico de islandia  el cules es un agente de viajes con licencia y se ha convertido en uno de los operadores turísticos más grandes de Islandia durante las últimas cinco décadas y ofrece una gama de excelentes tours y servicios para individuos y grupos.
    Esperamos poder servirle en una de nuestras dos oficinas de ventas: en la calle Mallorca 112</p>
    </div>
    <div class="row ">
    <div class="col-6">
        <h3 style="color:rgb(12, 11, 11)" >Nuestra gente</h3>
        <p class="text-white">

            Si bien nuestra flota de autobuses definitivamente es algo de lo que jactarse, no vale mucho en la carretera sin las personas adecuadas para operar estos vehículos. Nos enorgullecemos de nuestro personal de primera línea, compuesto por nuestros guías profesionales certificados que son un océano de información con una habilidad especial para brindarla de una manera interesante y nuestros conductores responsables con su gran experiencia en las condiciones desafiantes que Islandia puede ofrecer. .</p>
    </div>
    <div class="col-6">
        <h3 style="color:rgb(12, 11, 11)" >Nuestra Flota de Autobuses</h3>
        <p class="text-white">

            Operamos una de las flotas de autocares más grandes y nuevas de Islandia con vehículos de muchos tamaños, que pueden llevarlo a muchos de los lugares más hermosos de nuestro país. Todos nuestros autocares están equipados con WiFi gratuito y puertos USB en vehículos seleccionados.

            </p>
    </div>
    </div>
</div>

    
