<div class="ms-2 p-2 container-size">
    <div class="row">
        <h1 class="ms-2 mb-4">Comience su viaje aqui</h1>
        <div class="col"></div>
        <div class="col">
            <select class="form-select " aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            
        </div>
    </div>
</div>
