<img src="assets/img/terms.webp" class="video" alt="" />

<div class="container position-relative">
  <div class="row">
    <h1>Términos y condiciones</h1>
    <p></p>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Reservas</h3>
      <p class="text-white">
        Reservaciones Los asientos no se pueden garantizar a menos que se
        reserven o reserven al menos 1 hora antes de la hora de salida
        programada.
      </p>
    </div>
    <div class="col-6">
      <h3>Flybus/Flybus+</h3>
      <p class="text-white">
        Salidas regulares de Flybus desde la Terminal de Autobuses BSÍ. Servicio
        Flybus+ disponible en hoteles y casas de huéspedes seleccionados.
        Reykjavik Excursions (RE) reconoce que las bolsas de viaje están
        diseñadas para proteger su contenido. En el curso del manejo normal, su
        equipaje puede mostrar evidencia de desgaste. RE no se responsabiliza
        por cortes menores, rayones y abolladuras ni por elementos que
        sobresalgan de las bolsas de viaje, como manijas retráctiles, ruedas,
        correas y carritos de equipaje.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h3>Horarios de regreso</h3>
      <p class="text-white">
        Tenga en cuenta que los tiempos de regreso indicados se refieren solo a
        visitas guiadas, las devoluciones y recogidas no están incluidas.
        Además, durante el invierno los horarios de regreso pueden variar debido
        a las condiciones climáticas.
      </p>
    </div>
    <div class="col-6">
      <h3>Reembarque después de paradas y descansos</h3>
      <p class="text-white">
        

        Cuando se baje del autobús turístico en paradas turísticas y descansos durante una excursión de un día con Reykjavík Excursions, el guía turístico anunciará la duración de la parada y la hora de salida programada. Es su responsabilidad volver a abordar el autobús a la hora de salida programada. Si falta o llega tarde a la hora de salida programada, el autobús turístico no lo esperará, ya que tendremos que cumplir con el horario del recorrido. Reykjavík Excursions no reembolsará el recorrido ni cubrirá los costos incurridos como resultado de no volver a abordar el autobús turístico a tiempo. En caso de que no vuelva a abordar el autobús a tiempo, tendrá que hacer arreglos de transporte alternativos a su cargo.
      </p>
    </div>
  </div>
</div>
