<div class="row">
  
    <div class="col-6">

        <form [formGroup]="idForm" (ngSubmit)="deleteExcursionTemp()">
            <div class="input-group mb-3">
                <input type="number" formControlName="id" class="form-control" placeholder="Enter the id excursion to delete"/>
                <div class="warning" *ngIf="idForm.get('id')?.invalid && idForm.get('id')?.touched" >only int numbers (max 999)</div>
                <div class="input-group-append">
                    <button class="btn btn-dark"  type="submit">Buscar</button>
                </div>
            </div>
        </form>

   

    </div>


    <div class="col-6" *ngIf="excursionTempFromApi.status===500">
        <hr>
        <h3 class="text-primary mb-3">{{excursionTempFromApi.messages}}</h3>
        <hr>
    </div>
</div>